/* Flag Style  */
.flag {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}
.flag img {
  width: 100%;
}
.date-info {
  margin-top: 20px;
  text-align: center;
}
.date-info h3 {
  color: #243d7d;
}
