/* Flag Style  */
.flag {
  display: flex;
  padding: 2%;
  align-items: center;
  gap: 2%;
}
.flag img {
  width: 100%;
}
.date-info {
  margin-top: 20px;
  text-align: center;
}
.date-info h3 {
  color: #243d7d;
}
